<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% comment %}
  Renders a standard dropdown style menu for the header.

  Usage:
  {% render 'header-dropdown-menu' %}
{% endcomment %}

<nav class="header__inline-menu">
  <ul class="list-menu list-menu--inline" role="list">
    {%- for link in section.settings.menu.links -%}
      <li class="header-menu-item">
        <a
          id="HeaderMenu-{{ link.handle }}"
          href="{{ link.url }}"
          class="header__menu-item list-menu__item link focus-inset"
          {% if link.current %}
            aria-current="page"
          {% endif %}
        >
          <span
            {%- if link.current %}
              class="header__active-menu-item"
            {% endif %}
          >
            {{- link.title | escape -}}
          </span>
        </a>
        {%- if link.links != blank -%}
          <div class="header__submenu-wrapper">
            <ul class="header__submenu list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup" style="display: none; width: 100px;">
              {%- for childlink in link.links -%}
                <li class="submenu-item">
                  <a
                    id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                    href="{{ childlink.url }}"
                    class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"
                    {% if childlink.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{ childlink.title | escape }}
                  </a>
                  {%- if childlink.links != blank -%}
                    <ul class="header__submenu list-menu motion-reduce" style="display: none; width: 100px;">
                      {%- for grandchildlink in childlink.links -%}
                        <li class="submenu-item">
                          <a
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                            href="{{ grandchildlink.url }}"
                            class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                            {% if grandchildlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ grandchildlink.title | escape }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
<script>
$(document).ready(function() {
  $(".header-menu-item").hover(function() {
    $(this).find(".header__submenu").fadeIn(100);
  }, function() {
    $(this).find(".header__submenu").fadeOut(100);
  });
});
</script>
