{% comment %}
  Renders a header search bar that is always visible.
  Should be used with 'header.liquid'.

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}
<style>
  .header__icon--search {
    background-color: #E9E9E9;
  }
  .header__icon--search:hover {
    color: #EE2D7A;
  }
  .search__input {
    width: 160px;
    background-color:#E9E9E9;
  }
  .search__input:focus {
    outline: none; /* Remove the outline on focus if desired */
  }
  /* Hide the clear button by default */
  .clear-search-button {
    display: none;
    border-radius: 50%; /* Round border radius to create a circular button */
    background-color: #E9E9E9; /* Background color for the button */
    color: #EE2D7A; /* Text color for the button */
    padding: 5px 8px; /* Adjust padding as needed */
    cursor: pointer;
    border: none;
  }
</style>

<script>
  // Function to toggle the visibility of the "Clear" button based on the search input
  function toggleClearButton() {
    const searchInput = document.getElementById("{{ input_id }}");
    const clearButton = document.querySelector(".clear-search-button");
    if (searchInput.value.length > 0) {
      clearButton.style.display = "block";
    } else {
      clearButton.style.display = "none";
    }
  }

  // Function to clear the search input and hide the "Clear" button
  function clearSearchInput() {
    const searchInput = document.getElementById("{{ input_id }}");
    searchInput.value = "";
    document.querySelector(".clear-search-button").style.display = "none";
  }
</script>

<div class="header__search">
  <form action="{{ routes.search_url }}" method="get" role="search" class="search">
    <div class="field">
      <input class="search__input field__input" id="{{ input_id }}" type="search" name="q" value="{{ search.terms | escape }}" placeholder="Search" {%- if settings.predictive_search_enabled -%} role="combobox" aria-expanded="false" aria-owns="predictive-search-results" aria-controls="predictive-search-results" aria-haspopup="listbox" aria-autocomplete="list" autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" onkeyup="toggleClearButton()" {%- endif -%}>
      <label class="field__label" for="{{ input_id }}">Search</label>
      <input type="hidden" name="options[prefix]" value="last">
      {%- if settings.predictive_search_enabled -%}
      <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
        <div class="predictive-search__loading-state">
          <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
      </div>
      <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
      {%- endif -%}
    </div>
  </form>
  <button class="clear-search-button" onclick="clearSearchInput()">❌</button>
</div>
